@{
    ViewData["Title"] = "Ideas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>This page lists my ideas for future projects.</p>
@await Html.PartialAsync("_Navigation")